@model IEnumerable<YoungNatsDBv1.DataModels.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Electorate.ElectorateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoTag.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoTag1.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliticalLeanings)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Electorate.ElectorateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeoTag.AddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeoTag1.AddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliticalLeanings)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
