@model IEnumerable<YoungNatsDBv1.DataModels.VoterAssessment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KnownIndividual.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliticalParty.PartyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voter.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotingNationalLikelihood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotingLikelihood)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KnownIndividual.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliticalParty.PartyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voter.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssessmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VotingNationalLikelihood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VotingLikelihood)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VoterAssessmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VoterAssessmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VoterAssessmentId })
        </td>
    </tr>
}

</table>
