@model YoungNatsDBv1.DataModels.PhoneCall

@{
    ViewBag.Title = "NewCall";
}

<h2>NewCall</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PhoneCall</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberId, "PhoneNumberId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhoneNumberId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumberId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.KnownIndividualId, "KnownIndividualId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KnownIndividualId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KnownIndividualId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.WasThePhoneAnswered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WasThePhoneAnswered)
                    @Html.ValidationMessageFor(model => model.WasThePhoneAnswered, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CallNotes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CallNotes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CallNotes, "", new { @class = "text-danger" })
            </div>
        </div>

                @Html.Hidden("KnownIndividualId", (int)ViewBag.KnownIndividualId)
                @Html.Hidden("PhoneNumberId", (int)ViewBag.PhoneNumberId)
                @Html.Hidden("CallTime", (DateTime)ViewBag.CallTime)

        @*<div class="form-group">
            @Html.LabelFor(model => model.CallDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CallDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CallDateTime, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
