@model IEnumerable<YoungNatsDBv1.DataModels.DoorKnock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KnownIndividual.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpokeToSomeoneAtTheAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KnownIndividual.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpokeToSomeoneAtTheAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DoorKnockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DoorKnockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DoorKnockId })
        </td>
    </tr>
}

</table>
